stages:
  - build
  
job1:
  stage: build
  script:
  - ls
  - cd cems-SPA
  - npm install
  - ng build --prod --env=prod
  - cd ../cems.API
  - sudo docker-compose build 
  - sudo docker-compose up -d
  cache:
    paths:
      - node_modules/