<tabset>
    <tab heading="Deminfied" id="tab1" *ngIf="stackTrace.DeminifiedStackFrameResults.length">
        <table class="table table-bordered w-100">
            <tbody>
            <tr *ngFor="let stackFrameResult of stackTrace.DeminifiedStackFrameResults">
                <td *ngIf="!emptyFrame(stackFrameResult.DeminifiedStackFrame)">
                    <app-stack-frame [stackFrame]="stackFrameResult"></app-stack-frame>
                </td>
                <td *ngIf="emptyFrame(stackFrameResult.DeminifiedStackFrame)">
                    <div class="row p-1">
                        <div class="col">

                            failed to deminify
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </tab>
    <tab heading="Minified" id="tab2" *ngIf="stackTrace.MinifiedStackFrames.length">
        <table class="table table-bordered w-100">
            <tbody>
            <tr *ngFor="let stackFrame of stackTrace.MinifiedStackFrames">
                <td *ngIf="!emptyFrame(stackFrame)">
                    <app-minified-stack-frame [stackFrame]="stackFrame"></app-minified-stack-frame>
                </td>
                <td *ngIf="emptyFrame(stackFrame)">
                    <div class="row p-1">
                        <div class="col">
                            failed to deminify
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </tab>
</tabset>
