<div *ngIf="log">
  <div [ngClass]="{ 'border bg-success mb-3': !isTopLevel && !showErrorDetails }">
    <div class="row m-2" [ngClass]="{ clickable: !isTopLevel }" (click)="!isTopLevel && toggleErrorDetails()">
      <div class="col col-12 bg-light border py-2">
        <div class=" d-flex flex-row ">
          <div class="exception-type">{{ log.exceptionDetails.type }}</div>
          <div class="exception-file ml-3 ">
            {{ log.getNormalizedExceptionFile() }}</div>
        </div>
        <div class="row">
          <div class="col exception-message">
            {{ log.exceptionDetails.message }}
          </div>
        </div>
        <div *ngIf="log.timestamp" class="row">
          <div class="col exception-date">
            {{ log.timestamp | date: 'medium' }}
          </div>
        </div>
        <div class="row" *ngIf="log.javascriptExceptionDetails.javascriptStackTrace.distance">
          <div class="col exception-date">StackFrame similarity:
            {{ log.javascriptExceptionDetails.javascriptStackTrace.distance }}</div>
        </div>
      </div>
    </div>

    <div [collapse]="!isTopLevel && showErrorDetails">
      <div class="row m-2 ">
        <div class="col col-12 bg-white border">
          <tabset>
            <tab heading="Info" id="tabInfo" class="mb-3">
              <div class="row">
                <div class="col h2">
                  StackTrace
                </div>
              </div>
              <div class="row ">
                <div class="col">
                  <button (click)="toggleStackTraceVariant('minified')" class="btn w-100"
                    [ngClass]="{ 'btn-primary': showStacktraceVariant === 'minified' }">
                    Minified
                  </button>
                </div>
                <div class="col">
                  <button (click)="toggleStackTraceVariant('deminified')" class="btn w-100"
                    [ngClass]="{ 'btn-primary': showStacktraceVariant === 'deminified' }">
                    Deminified
                  </button>
                </div>
                <div class="col">
                  <button (click)="toggleStackTraceVariant('raw')" class="btn w-100"
                    [ngClass]="{ 'btn-primary': showStacktraceVariant === 'raw' }">
                    RAW Minified
                  </button>
                </div>
              </div>

              <div *ngIf="showStacktraceVariant === 'minified'" class="border border-bottom-0">
                <div *ngFor="let stackFrame of log.javascriptExceptionDetails.javascriptStackTrace.minifiedStackFrames">
                  <app-stack-frame class="clickable" [stackFrame]="stackFrame"></app-stack-frame>
                </div>
              </div>

              <div *ngIf="showStacktraceVariant === 'deminified'" class="border border-bottom-0">
                <div
                  *ngFor="let stackFrame of log.javascriptExceptionDetails.javascriptStackTrace.deminifiedStackFrames">
                  <app-stack-frame class="clickable" [stackFrame]="stackFrame"></app-stack-frame>
                </div>
              </div>

              <pre *ngIf="showStacktraceVariant === 'raw'" class="bg-light p-2 border"
                [innerHTML]="log.exceptionDetails.rawStackTrace"></pre>

              <div *ngIf="isTopLevel">
                <div class="h2 mt-4">Similar logs</div>
                <div *ngFor="let similarLog of similarLogs">
                  <app-js-log-detail [log]="similarLog" [isTopLevel]="false"> </app-js-log-detail>
                </div>
              </div>
            </tab>
            <tab heading="Seession" id="session">
              <div class="row">
                <div class="col col-lg-12 col-sm-12">
                  <div class="h2">Session details</div>
                  <div class="border mb-3">
                    <div class="row px-3 py-1">
                      <div class="col">
                        <h6>Session id</h6>
                      </div>
                      <div class="col">{{ log.javascriptSessionInfo.sessionId }}</div>
                    </div>

                    <div class="row px-3 py-1">
                      <div class="col bg-light">
                        <h6>Duration</h6>
                      </div>
                      <div class="col bg-light">{{ log.javascriptSessionInfo.sessionDuration }} seconds</div>
                    </div>
                  </div>

                  <div class="h2">Events</div>
                  <div *ngFor="let event of log.javascriptSessionInfo.eventHistory" class="border">
                    <app-browser-event class="clickable" [eventLog]="event"></app-browser-event>
                  </div>
                </div>
              </div>

              <div class="h2 my-4">Data Storage</div>
              <div class="border mb-3">
                <div *ngFor="let item of generateArray(log.javascriptBrowserInfo.dataStorage); index as i">
                  <div class="row px-3 py-1">
                    <div class="col col-6" [ngClass]="{ 'bg-light': i % 2 == 0 }">
                      <h6>{{ item.key }}</h6>
                    </div>
                    <div class="col col-6" style="overflow-wrap: break-word" [ngClass]="{ 'bg-light': i % 2 == 0 }">
                      {{ item.value }}</div>
                  </div>
                </div>
              </div>

              <div class="h2 my-4">Errors in session</div>
              <div *ngFor="let sameSessionLog of sameSessionLogs">
                <app-js-log-detail [log]="sameSessionLog" [isTopLevel]="false"> </app-js-log-detail>
              </div>
            </tab>

            <tab heading="Browser" id="browserTab">
              <div class="h2 my-4">Basic Info</div>

              <div class="border">
                <div class="row px-3 py-1">
                  <div class="col">
                    <h6>OS</h6>
                  </div>
                  <div class="col">{{ log.javascriptBrowserInfo.osName}} {{ log.javascriptBrowserInfo.osVersion}}
                  </div>
                </div>

                <div class="row px-3 py-1">
                  <div class="col bg-light">
                    <h6>Browser</h6>
                  </div>
                  <div class="col bg-light">{{ log.javascriptBrowserInfo.browserName }}
                    {{  log.javascriptBrowserInfo.browserVersion }}</div>
                </div>

                <div class="row px-3 py-1">
                  <div class="col">
                    <h6>User Agent</h6>
                  </div>
                  <div class="col">{{ log.javascriptBrowserInfo.browserUserAgent }}</div>
                </div>

                <div class="row px-3 py-1">
                  <div class="col bg-light">
                    <h6>Language</h6>
                  </div>
                  <div class="col bg-light">{{ log.javascriptBrowserInfo.browserLanguage }}</div>
                </div>

                <div class="row px-3 py-1">
                  <div class="col">
                    <h6>Was online</h6>
                  </div>
                  <div class="col">{{ log.javascriptBrowserInfo.browserIsOnline }}</div>
                </div>

                <div class="row px-3 py-1">
                  <div class="col bg-light">
                    <h6>Platform</h6>
                  </div>
                  <div class="col bg-light">{{ log.javascriptBrowserInfo.browserPlatform }}</div>
                </div>

                <div class="row px-3 py-1">
                  <div class="col">
                    <h6>Java enabled</h6>
                  </div>
                  <div class="col">{{  log.javascriptBrowserInfo.javaEnabled }}</div>
                </div>

                <div class="row px-3 py-1">
                  <div class="col bg-light">
                    <h6>Data cookies enabled</h6>
                  </div>
                  <div class="col bg-light">{{ log.javascriptBrowserInfo.dataCookiesEnabled }}</div>
                </div>
              </div>

              <div class="h2 my-4">Screen Info</div>
              <div class="border">
                <div class="row px-3 py-1">
                  <div class="col">
                    <h6>screenScreenW</h6>
                  </div>
                  <div class="col">{{  log.javascriptBrowserInfo.screenScreenW }} px</div>
                </div>

                <div class="row px-3 py-1">
                  <div class="col bg-light">
                    <h6>screenScreenH</h6>
                  </div>
                  <div class="col bg-light">{{ log.javascriptBrowserInfo.screenScreenH }} px</div>
                </div>

                <div class="row px-3 py-1">
                  <div class="col">
                    <h6>sizeInnerW</h6>
                  </div>
                  <div class="col">{{  log.javascriptBrowserInfo.sizeInnerW }} px</div>
                </div>

                <div class="row px-3 py-1">
                  <div class="col bg-light">
                    <h6>sizeInnerH</h6>
                  </div>
                  <div class="col bg-light">{{ log.javascriptBrowserInfo.sizeInnerH }} px</div>
                </div>

                <div class="row px-3 py-1">
                  <div class="col">
                    <h6>screenAvailW</h6>
                  </div>
                  <div class="col">{{  log.javascriptBrowserInfo.screenAvailW }} px</div>
                </div>

                <div class="row px-3 py-1">
                  <div class="col bg-light">
                    <h6>screenAvailH</h6>
                  </div>
                  <div class="col bg-light">{{ log.javascriptBrowserInfo.screenAvailH }} px</div>
                </div>


                <div class="row px-3 py-1">
                  <div class="col">
                    <h6>scrColorDepth</h6>
                  </div>
                  <div class="col">{{  log.javascriptBrowserInfo.scrColorDepth }} px</div>
                </div>

                <div class="row px-3 py-1">
                  <div class="col bg-light">
                    <h6>scrPixelDepth</h6>
                  </div>
                  <div class="col bg-light">{{ log.javascriptBrowserInfo.scrPixelDepth }} px</div>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>