<div id="stackFrame" class="border-primary border-dark">
    <div class="row p-1" id="header" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
         aria-controls="sourceCode">
        <div class="col">
            <code class="js">{{getMethodName()}}</code>
            in file
            <code class="js">{{getFileName()}}</code>
        </div>
    </div>
    <div *ngIf="!isNullOrEmpty(stackFrame.DeminifiedStackFrame.SourceCode)" class="row p-1" id="sourceCode" [collapse]="isCollapsed">
        <div class="col">
            <pre><code [highlight]="stackFrame.DeminifiedStackFrame.SourceCode"></code></pre>
        </div>
    </div>
</div>
