<div id="stackFrame" class=" px-3 ">
  <div class="row collapsible bg-light p-2" (click)="isCollapsed = !isCollapsed" data-toggle="collapse"
    [attr.aria-expanded]="!isCollapsed" aria-controls="sourceCode">
    <div class="col col-6" [innerHTML]="getHeader()"></div>
    <div class="col col-6  text-right">{{ fortmatedTimestamp() }}</div>
  </div>
  <div class="row p-1 content" id="sourceCode" [collapse]="isCollapsed">
    <div class="col">
      <pre [innerHTML]="detailsJson()"></pre>
    </div>
  </div>
</div>